In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
from sklearn.datasets import fetch_openml
import pandas as pd


# Load the Adult dataset
adult = fetch_openml(name='adult', version=2, as_frame=True)
data = adult.data
target = adult.target

In [6]:
print(full_df.columns)

Index(['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'workclass_Local-gov', 'workclass_Never-worked',
       'workclass_Private', 'workclass_Self-emp-inc',
       'workclass_Self-emp-not-inc', 'workclass_State-gov',
       'workclass_Without-pay', 'education_11th', 'education_12th',
       'education_1st-4th', 'education_5th-6th', 'education_7th-8th',
       'education_9th', 'education_Assoc-acdm', 'education_Assoc-voc',
       'education_Bachelors', 'education_Doctorate', 'education_HS-grad',
       'education_Masters', 'education_Preschool', 'education_Prof-school',
       'education_Some-college', 'marital-status_Married-AF-spouse',
       'marital-status_Married-civ-spouse',
       'marital-status_Married-spouse-absent', 'marital-status_Never-married',
       'marital-status_Separated', 'marital-status_Widowed',
       'occupation_Armed-Forces', 'occupation_Craft-repair',
       'occupation_Exec-managerial', 'occupation_Farming-fishing',
       'occupation_Handlers-cleaners', 'occupation_Machine-op-inspct',
       'occupation_Other-service', 'occupation_Priv-house-serv',
       'occupation_Prof-specialty', 'occupation_Protective-serv',
       'occupation_Sales', 'occupation_Tech-support',
       'occupation_Transport-moving', 'relationship_Not-in-family',
       'relationship_Other-relative', 'relationship_Own-child',
       'relationship_Unmarried', 'relationship_Wife',
       'race_Asian-Pac-Islander', 'race_Black', 'race_Other', 'race_White',
       'sex_Male', 'native-country_Canada', 'native-country_China',
       'native-country_Columbia', 'native-country_Cuba',
       'native-country_Dominican-Republic', 'native-country_Ecuador',
       'native-country_El-Salvador', 'native-country_England',
       'native-country_France', 'native-country_Germany',
       'native-country_Greece', 'native-country_Guatemala',
       'native-country_Haiti', 'native-country_Holand-Netherlands',
       'native-country_Honduras', 'native-country_Hong',
       'native-country_Hungary', 'native-country_India', 'native-country_Iran',
       'native-country_Ireland', 'native-country_Italy',
       'native-country_Jamaica', 'native-country_Japan', 'native-country_Laos',
       'native-country_Mexico', 'native-country_Nicaragua',
       'native-country_Outlying-US(Guam-USVI-etc)', 'native-country_Peru',
       'native-country_Philippines', 'native-country_Poland',
       'native-country_Portugal', 'native-country_Puerto-Rico',
       'native-country_Scotland', 'native-country_South',
       'native-country_Taiwan', 'native-country_Thailand',
       'native-country_Trinadad&Tobago', 'native-country_United-States',
       'native-country_Vietnam', 'native-country_Yugoslavia', 'income'],
      dtype='object')

In [5]:
# Encode categorical variables
data_encoded = pd.get_dummies(data, drop_first=True)
#print(data_encoded['sex_Female'].value_counts())
print(data_encoded['sex_Male'].value_counts())
target_encoded = target.map({'>50K': 1, '<=50K': 0})

print(target_encoded)
full_df = data_encoded.copy()
full_df['income'] = target_encoded
empty_rows_count = full_df.isna().sum()
print(empty_rows_count)
full_df.dropna(inplace=True)
print(full_df)

sex_Male
True     32650
False    16192
Name: count, dtype: int64
0        0
1        0
2        1
3        1
4        0
        ..
48837    0
48838    1
48839    0
48840    0
48841    1
Name: class, Length: 48842, dtype: category
Categories (2, int64): [0, 1]
age                               0
fnlwgt                            0
education-num                     0
capital-gain                      0
capital-loss                      0
                                 ..
native-country_Trinadad&Tobago    0
native-country_United-States      0
native-country_Vietnam            0
native-country_Yugoslavia         0
income                            0
Length: 98, dtype: int64
        age    fnlwgt  education-num  capital-gain  capital-loss  \
0      25.0  226802.0            7.0           0.0           0.0
1      38.0   89814.0            9.0           0.0           0.0
2      28.0  336951.0           12.0           0.0           0.0
3      44.0  160323.0           10.0        7688.0           0.0
4      18.0  103497.0           10.0           0.0           0.0
...     ...       ...            ...           ...           ...
48837  27.0  257302.0           12.0           0.0           0.0
48838  40.0  154374.0            9.0           0.0           0.0
48839  58.0  151910.0            9.0           0.0           0.0
48840  22.0  201490.0            9.0           0.0           0.0
48841  52.0  287927.0            9.0       15024.0           0.0

       hours-per-week  workclass_Local-gov  workclass_Never-worked  \
0                40.0                False                   False
1                50.0                False                   False
2                40.0                 True                   False
3                40.0                False                   False
4                30.0                False                   False
...               ...                  ...                     ...
48837            38.0                False                   False
48838            40.0                False                   False
48839            40.0                False                   False
48840            20.0                False                   False
48841            40.0                False                   False

       workclass_Private  workclass_Self-emp-inc  ...  \
0                   True                   False  ...
1                   True                   False  ...
2                  False                   False  ...
3                   True                   False  ...
4                  False                   False  ...
...                  ...                     ...  ...
48837               True                   False  ...
48838               True                   False  ...
48839               True                   False  ...
48840               True                   False  ...
48841              False                    True  ...

       native-country_Puerto-Rico  native-country_Scotland  \
0                           False                    False
1                           False                    False
2                           False                    False
3                           False                    False
4                           False                    False
...                           ...                      ...
48837                       False                    False
48838                       False                    False
48839                       False                    False
48840                       False                    False
48841                       False                    False

       native-country_South  native-country_Taiwan  native-country_Thailand  \
0                     False                  False                    False
1                     False                  False                    False
2                     False                  False                    False
3                     False                  False                    False
4                     False                  False                    False
...                     ...                    ...                      ...
48837                 False                  False                    False
48838                 False                  False                    False
48839                 False                  False                    False
48840                 False                  False                    False
48841                 False                  False                    False

       native-country_Trinadad&Tobago  native-country_United-States  \
0                               False                          True
1                               False                          True
2                               False                          True
3                               False                          True
4                               False                          True
...                               ...                           ...
48837                           False                          True
48838                           False                          True
48839                           False                          True
48840                           False                          True
48841                           False                          True

       native-country_Vietnam  native-country_Yugoslavia  income
0                       False                      False       0
1                       False                      False       0
2                       False                      False       1
3                       False                      False       1
4                       False                      False       0
...                       ...                        ...     ...
48837                   False                      False       0
48838                   False                      False       1
48839                   False                      False       0
48840                   False                      False       0
48841                   False                      False       1

[48842 rows x 98 columns]

In [49]:
from aif360.datasets import BinaryLabelDataset

# Create a BinaryLabelDataset with the corrected DataFrame
dataset = BinaryLabelDataset(df=full_df,
                             label_names=['income'],
                             protected_attribute_names=['sex_Male'], 
                             favorable_label=1,
                             unfavorable_label=0)

In [50]:
from aif360.metrics import BinaryLabelDatasetMetric

privileged_groups = [{'sex_Male': 1}]
unprivileged_groups = [{'sex_Male': 0}]



metric = BinaryLabelDatasetMetric(dataset, 
                                  unprivileged_groups=unprivileged_groups,
                                  privileged_groups=privileged_groups)

print("Statistical parity difference:", metric.statistical_parity_difference())
print("Disparate impact:", metric.disparate_impact())

Statistical parity difference: -0.19451574596420296
Disparate impact: 0.3596552625800337